:root {
  --color0: #1D2951;
  --color1: #256DB3;
  --color2: #697494;
  --color3: #287DC1;
  --color4: #827C9A;
  --color5: #4D94BF;
  --color6: #308CC8;
  --color7: #A3A4C7;
  --color8: #666666;
  --color9: #256DB3;
  --color10: #697494;
  --color11: #287DC1;
  --color12: #827C9A;
  --color13: #4D94BF;
  --color14: #308CC8;
  --color15: #A3A4C7;
}
