configuration {
	show-icons: true;
	icon-theme: "Papirus";
	font: "Meslo LG S DZ For Powerline 11";
	modi: "drun";
	location: 0;
	xoffset: -320;
	yoffset: -320;
	width: 25;
	lines: 10;
}
@theme "~/.cache/wal/colors-rofi-light.rasi"
