[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=53
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][63]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.plasma.systemmonitor

[Containments][1][Applets][65]
activityId=
formfactor=0
immutability=1
lastScreen=-1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=

[Containments][1][Applets][66]
immutability=1
plugin=org.kde.kscreen

[Containments][1][Applets][67]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][1][Applets][68]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][1][Applets][71]
immutability=1
plugin=org.kde.milou

[Containments][1][Applets][74]
immutability=1
plugin=org.kde.plasma.battery

[Containments][1][Applets][75]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=18

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=4;57;65;75;3;71;64;67;66;63;74;5;68
autoDecreaseIconSize=false
iconMargin=0
iconSize=24
inConfigureAppletsMode=true
panelPosition=10
panelSize=100
panelTransparency=56
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
splitterPosition=4
splitterPosition2=6
tasksUpgraded=true
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][15]
activityId=
byPassWM=false
dockWindowBehavior=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=4
maxLength=100
name=Default Dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][15][Applets][40]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][15][Applets][41]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][15][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][15][Configuration]
PreloadWeight=10

[Containments][15][General]
advanced=false
alignment=0
alignmentUpgraded=true
appletOrder=41;40
iconSize=48
panelSize=0
panelTransparency=0
screenEdgeMargin=-1
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
titleTooltips=false
zoomLevel=13

[Containments][15][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][6]
PreloadWeight=18
activityId=
formfactor=2
immutability=1
lastScreen=-1
layoutId=
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][14]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][58]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][6][Applets][59]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][6][Applets][60]
immutability=1
plugin=org.kde.plasma.vault

[Containments][6][Applets][61]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][6][Applets][62]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=
